.dialerpad-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.dialer-card {
    width: 450px;
    height: 200px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.7);
    margin-top: 2%;
    background-color: #838383;
    margin-left:10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.dialer-detail-div {
    margin-left: 7%;
}
.register-div {
    margin-left: 5%;
}
.p-subheader {
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}
.current-call-div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 5%;
}
.register-card {
    width: 400px;
    height: 200px;
    border-style: solid;
    border-width: 1px;
    margin-top: 6%;
    background-color: #FFFFFF;
    margin-left: 3%;
    border-color: #aaa8a8;
    overflow-x:hidden;
    overflow-y: auto;
}
.register-list-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.register-cell-div {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin: 3%;
}
.p-cell {
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}
.register-btn {
    background-color: #2194FF;
    color: white;
    width: 100px;
    height: 40px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.7);
    border-radius: 5px;
}
.unregister-btn {
    background-color: green;
    color: white;
    width: 100px;
    height: 40px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.7);
    border-radius: 5px;
}
.cell-hr{
    width: 90%;
    color:#FFFFFF;
}
.dialer-h2{
    color:#2194FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    margin: 3%;
}
.dialer-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.p-dialer {
    color: #2194FF;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
}
.fa-phone {
    color: white;
    font-size: 22px;
}
.fa-volume-mute {
    color: white;
    font-size:  22px;
}
.fa-keyboard{
    color: white;
    font-size:  22px;
}
.fa-phone-slash {
    color: white;
    font-size:  22px;
}
.fa-volume-up {
    color: white;
    font-size:  22px;
}
.fa-pause {
    color: white;
    font-size:  22px;
}
.fa-play {
    color: rgb(32, 107, 32);
    font-size:  22px;
}
.icon-button {
    background-color: inherit;
    cursor: pointer;
    width: 50px;
    height:50px;
    margin: 20px;
    border:white;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.7);
}
.dialer-btns {
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.p-call-status {
    color: white;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.span {
    color:white;
    font-size: 16px;
}
.call-status-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}