/* The Modal (background) */
.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  /* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
    display: flex;
    flex-direction:column;
  }
  
  /* The Close Button */
  .fa-times {
    color: rgb(56, 55, 55);
    float: right;
    font-size: 20px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .close-btn {
      width:50px;
      height:50px;
      background-color: inherit;
      border:none;
      cursor: pointer;
      float:left;
  }
  .close-div {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: flex-end;
  }
  .p-div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start
  }
  .p-message {
      margin:1%;
      color: black;
  }
  .p-call-msg {
      color: #BF360C;
      font-size: 14px;
      font-weight: bold;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      margin: 1%;
  }
  .go-to-receiver {
    background-color: #FFFFFF;
    color: #000000;
    width: 100px;
    height: 40px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.7);
    border-radius: 5px;
    margin: 20px;
  }
  .notify-container {
    background-color: white;
  }
  .p-dialer {
    font-size: 12px;
    color:rgb(119, 118, 118);
    margin-left: 20;
  }