.login-card {
    width: 350px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.login-header {
    color: #2194FF;
    align-items: flex-start;
    font-size: 28px;
    margin-left: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.header-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 30px;
}
.header-image {
    margin: 15px;
}
.textfield {
    height: 40px;
    border-radius: 2px;
    border: 1px solid #aaa7a7;
    margin: 30px;
    width: 200px;
}
.textfield-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.submit-btn {
    margin: 50px;
    background-color: #2194FF;
    border:none;
    width: 100px;
    height:40px;
    color:white;
    font-weight: bold;
    font-size: 17px;
    border-radius: 5px;
    cursor: pointer;
}
.link {
    color: #2194FF;
    text-decoration: underline;
    font-size: 13px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}