.diagnostics-card {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.diagnostics-header {
    color: #2194FF;
    align-items: flex-start;
    font-size: 18px;
    margin-left: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.diagnostics-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.diagnostics-image {
    margin: 15px;
}
.textfield {
    height: 40px;
    border-radius: 2px;
    border: 1px solid #aaa7a7;
    margin: 30px;
    width: 200px;
}
.textfield-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.submit-btn {
    margin: 50px;
    background-color: #2194FF;
    border:none;
    width: 200px;
    height:40px;
    color:white;
    font-weight: bold;
    font-size: 17px;
    border-radius: 5px;
    cursor: pointer;
}
.link {
    color: #2194FF;
    text-decoration: underline;
    font-size: 13px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.flex-container {
    display: flex;
    width: 450px;    
    justify-content: space-between;
}

.flex-container-top {
    display: flex;
    width: 580px;    
    justify-content: space-between;
}


.flex-child {
    display: flex;
    justify-content: flex-end;
}  

.browser-version{
    display: flex;
    width: 450px;    
    justify-content: center;
}

.diagnostics-detail{
    display: flex;
    width: 400px;  
    justify-content: center;
}

.flex-container-device {
    justify-content: space-between;
    margin-left: 100x;
    background-color: #eeeeee;
    border:none;
    color:black;
    font-weight: bold;
    font-size: 17px;
    border-radius: 5px;
    cursor: pointer;    
}

.flex-container-device-title {
    display: flex;
    justify-content: space-between; 
    background-color: #eeeeee;
    color:black;    
}

.flex-container-device-question {
    display: flex;
    justify-content: space-between;    
}

.flex-child-device-question {
    display: flex;
    justify-content: flex-end;    
}